html {
    box-sizing: border-box;
    font-family: 'Robot',sans-serif;
}
*,
*:before,
*:after {
    box-sizing: inherit;
}

:root {
    --main-bg-color: #FFFFFF;
    --secondary-color: #F5F6FC;
    --text-color: #343951;
    --aside-second-color:#464C61;
    --aside-third-color: #BEC0C8;
    --button-color:#FF9F00;
    --button-secondary-color: #FFB233;
    --input-text-color: #BCBECA;
    --menu-font-color: #858A9D;
    --gap: 19px;
    --aside-font-size: 10px;
    --title-font-size: 20px;
    --subtitle-font-size: 12px;
    --medium-font-size: 14px;
    --descrition-font-size: 8px;
    --box-width : 116px;
    --box-height : 111px;
    --btn-height: 3em;
    --mosaics--width: 159px;
    --mosaics-height: 133px;
    --miniMosaic-height: 79px;
}

body {
   margin:0;
}

.container {
    background-color:var(--main-bg-color);
    height: 768px;
    display: grid;
    grid-template-columns: 15% 50% 35%;
}
/*---------ASIDE---------------*/
aside{
    display: grid;
    grid-template-rows: 10% 42% 25% 18% 5%;
    grid-column: 1/2;
    background-color: var(--text-color);
    margin-right: var(--gap);
    font-size: var(--aside-font-size);
}
.image1{
    grid-row: 1/2;
    width:74px;
    height:21px;
    justify-self:  center;
    align-self: center;
    background-color: orange;
}
.upperAside {
    display: grid;
    grid-row: 2/3;
    color: var(--menu-font-color);
    border-bottom: 1px solid var(--menu-font-color);
}
label input {
    margin-left: 32px;
    margin-right: 19px;
}

.bottomAside{
    grid-row: 4/5;
    width: var(--box-width);
    height: var(--box-height);
    background-color: var(--aside-second-color);
    margin: 5px 25px;
    padding: 15px 10px;
    justify-self: center;
    border-radius: 5%;
    color: var(--aside-third-color);
}
.createBtn {
    display: flex;
    justify-content: space-around;
    width: var(--box-width);
    height: var(--btn-height);
    margin-left: 28px;
    background-color: var(--button-color);
    color: var(--main-bg-color);
    grid-row: 5/6 ;
    border-radius: 5%;
}
/*-----------MAIN--------*/
.main{
    display: grid;
    grid-column: 2/3;
    background-color: var(--secondary-color);
    margin-right: var(--gap);
    padding: 25px 16px;
}
.searchInput {
    padding : 10px;
    border:0;
    border-radius: 5%;
    color: var(--input-text-color);
}
.title {
    font-size: var(--title-font-size);
    color: var(--text-color);
}
.mosaics {
    display: flex;
    justify-content: space-around;
}
.mosaic {
    flex: 0 0 var(--mosaics--width);
    height: var(--mosaics-height);
    background-color: var(--main-bg-color);
    border-radius: 12%;
    padding: 14px;
}
.miniMosaic {
    flex: 0 0 var(--mosaics--width);
    height: var(--miniMosaic-height);
    background-color: var(--main-bg-color);
    border-radius: 12%;
    padding: 14px;
}
.titleProject {
    font-size: var(--subtitle-font-size);
    margin:0px;
}
.dateProject {
    font-size: var(--descrition-font-size);
}
table {
    border-collapse: separate;
    border-spacing: 0 16px;
}
th{
    font-size: var(--subtitle-font-size);
    color: var(--menu-font-color);
    text-align: left;
    font-weight: normal;
    background-color: var(--secondary-color);
}
tr{
    background-color: var(--main-bg-color);
    height: 42px;
    font-size: var(--subtitle-font-size);
    border-radius: 12px;
}


/*---ANOTHER SIDE*/
.anotherSide {
    grid-column: 3/4;
    background-color: #F5F6FC;
}


/*general elements*/
button{
    align-self: center;
    width: 21px;
    height: 21px;
    background-color: var(--button-secondary-color);
    border: none;
    border-radius: 5%;
    color: var(--main-bg-color);
    size: var(--aside-font-size);
    font-weight: bold;
}
span {
    float: right;
    font-size: var(--subtitle-font-size);
}