html {
    box-sizing: border-box;
    font-family: 'Robot',sans-serif;
}
*,
*:before,
*:after {
    box-sizing: inherit;
}

:root {
    --main-bg-color: #FFFFFF;
    --secondary-color: #F5F6FC;
    --aside-color: #343951;
    --aside-second-color:#464C61;
    --button-color:#FF9F00;
    --menu-font-color: #858A9D;
    --gap: 19px;
    --aside-font-size: 10px;
    --title-font-size: 20px;
    --subtitle-font-size: 12px;
    --medium-font-size: 14px;
    --descrition-font-size: 8px;
}

body {
   margin:0;
}

.container {
    background-color:var(--main-bg-color);
    height: 768px;
    display: grid;
    grid-template-columns: 15% 50% 35%;
}
aside{
    display: grid;
    grid-template-rows: 52% 48% ;
    grid-column: 1/2;
    background-color: var(--aside-color);
    margin-right: var(--gap);
    font-size: var(--aside-font-size);
}
.upperAside {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    grid-row: 1/2;
    margin-left: 32px;
    color: var(--menu-font-color);
}

.bottomAside{
    background-color: var(--aside-second-color);
    margin-left: 28px;
}

.main{
    grid-column: 2/3;
    background-color: var(--secondary-color);
    margin-right: var(--gap);
}
.anotherSide {
    grid-column: 3/4;
    background-color: #F5F6FC;
}

/*general clasess*/
button{
    background-color: var(--button-color);
}